<!DOCTYPE html>
<html ng-app="ControllerApp">
 <head>
   <title>AngularJS Tutorials</title>
   <link rel="stylesheet" href="vendor/foundation.min.css">
  
 </head>
 <body>

<div>
  <input type="text" ng-model="data.message">
  <h1>{{ data.message }}</h1>

  <div ng-controller="FirstCtrl">
     <input type="text" ng-model="data.message2">
  <h1>{{ data.message2 }}</h1>
  </div>

  <div ng-controller="SecondCtrl">
  <input type="text" ng-model="data.message3">
  <h1>{{ data.message3 }}</h1>
  </div>
  </div>


<script type="text/javascript" src="vendor/angular.js"></script>
<script type="text/javascript" src="main2.js"></script>

</body>
</html>